<style type="text/css">
#map{
	position:absolute;
	top:0px;
	left:0px;
}
</style>


<script src="/map/textures"></script>

<button class="btn btn-large btn-inverse" id="initButton" onclick="mapEditor_loadMap()" style="position:absolute; x:0px; z-index:100;"><%= t(:mapEditor_init)%></button>
<div>
	<div id="popup" style='position: fixed; top:50%; left:50%; z-index:100; display:none; background:#aaaaaa; overflow:auto'></div>
	<table width = "100%" id="mainTable">
	<tr>
		<td width = "*" align = "center" style="position:relative" id = "canvasTd">
			<span id = 'mouseInfo' style = 'position: absolute; left:0px; top:0px'></span>
			<canvas height='1000' width='1000' id='map'>Update your browser!</canvas>
			<table style="position:absolute; top:10px; right:0px">
				<tr>
					<td><button class="btn btn-inverse" style="width: 3em; height: 2em" onmousedown="mapEditor_controlScreen(0.05,0,0)" onmouseup="clearInterval(mousedownID)" onmouseout="clearInterval(mousedownID)">+</button></td>
					<td><button class="btn btn-inverse" style="width: 3em; height: 2em" onmousedown="mapEditor_controlScreen(0,0,-10)" onmouseup="clearInterval(mousedownID)" onmouseout="clearInterval(mousedownID)">^</button></td>
					<td><button class="btn btn-inverse" style="width: 3em; height: 2em" onmousedown="mapEditor_controlScreen(-0.05,0,0)" onmouseup="clearInterval(mousedownID)" onmouseout="clearInterval(mousedownID)">-</button></td>
				</tr>
				<tr>
					<td><button class="btn btn-inverse" style="width: 3em; height: 2em" onmousedown="mapEditor_controlScreen(0,-10,0)" onmouseup="clearInterval(mousedownID)" onmouseout="clearInterval(mousedownID)"><-</button></td>
					<td><button class="btn btn-inverse" style="width: 3em; height: 2em" onmousedown="mapEditor_controlScreen(0,0,10)" onmouseup="clearInterval(mousedownID)" onmouseout="clearInterval(mousedownID)">v</button></td>
					<td><button class="btn btn-inverse" style="width: 3em; height: 2em" onmousedown="mapEditor_controlScreen(0,10,0)" onmouseup="clearInterval(mousedownID)" onmouseout="clearInterval(mousedownID)">-></button></td>
				</tr>
			</table>
		</td>
		<td id='panel' width="20%" style="position:relative;border:none;">
		<div style="position:absolute; top:0px; overflow:auto; height:100%;width:100%;">
			<p>
				<button class="btn btn-inverse" onclick='mapEditor_selectEditor("mapEdit")'>map</button>
				<button class="btn btn-inverse" onclick='mapEditor_selectEditor("textureEdit")'>texture</button>
			</p>
			<div id='mapEdit'>
				<p>Choose brush mode:</p>
				<select name="mode" id="mode" onchange="mapEditor_brushChange(this)">
					<option selected value="Walk">Walk</option>
					<option value="Build" >Build</option>
					<option value="Base" >Base</option>
					<option value="Respawn" >Respawn</option>
				</select>
				<div><table border="1" id = "legend">
					<tr>
						<td bgcolor = "#ffffff">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
						<td>Can everything</td>
					</tr>
					<tr>
						<td bgcolor = "blue">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
						<td>Can't walk</td>
					</tr>
					<tr>
						<td bgcolor = "red">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
						<td>Can't see</td>
					</tr>			
				</table></div>
				<p><table>
					<tr><td>Map size:</td><td><input type="text" id="mapSize" value="10" onchange="mapEditor_changeMapSize(this)"></td></tr>
				</table></p>
				<table>
				<tr><td>Max NPCs:</td><td><input type="text" name="max_npcs"></td></tr>
				<tr><td>Max Towers:</td><td><input type="text" name="max_towers"></td></tr>
				<tr><td>Max Bullets:</td><td><input type="text" name="max_bullets"></td></tr>
				</table><br>
				<div id="basesDiv">Base: respawn<br></div>
				<div id ="pcbase">
					Need PC base?<input id = "pc_base" type = "checkbox" value="1" onchange="mapEditor_togglePCbase(this)">
				</div>
				Waves:
				<input type="button" id="wavesButton" name="waves" value="Add wave" onclick="mapEditor_addWave()"><br>
				<div id="wavesDiv"></div>
				<input type="hidden" name="mapsize">
				<input type="hidden" name="walkdata">
				<input type="hidden" name="builddata">
				<input type="submit" value="Send">
				<p><input type = "button" onclick="mapEditor_completeMapInfo()" value="Get text map info"><br>
				<textarea form='form' id = "completeInfo" name = 'completeInfo'></textarea></p>
				<input type = "button" onclick="mapEditor_loadMap()" value="Load map"><br>
				<%= text_area_tag 'loadMap', @map['data'] %>
				<br><br>
			</div>
			<div id='textureEdit' style = 'display:none'>
					<input type ='checkbox' value = 'opacity' id = 'opacity' onchange = 'mapEditor_drawMap()'>Show map<br>
					<input type ='checkbox' value = 'minimap' id = 'minimap'>Enable minimap
				<p>Choose brush mode:</p>
				<select id="textureBrush" onchange="mapEditor_textureBrushChange(this)">
					<option selected value="Tiles">Tiles</option>
					<option value="Walls" >Walls</option>
					<option value="Objects" >Objects</option>
				</select>
				<div id = "wallsDirection">
					<br>Walls direction:<br>
					<input type="radio" name="direction" value="x" checked>x
					<input type="radio" name="direction" value="y">y	
					<input type="radio" name="direction" value="del">delete wall	
				</div>
				<br>Current texture:
				<div align="center" style = 'border:solid 2px black; height:128px; width:128px;'>
					<img id = 'currentTexture' src = 'textures/none.png' height = 128 width = 128 onclick='mapEditor_selectTexture()'>
				</div>
				<p><input type = "button" onclick="mapEditor_saveTextures()" value="Get textures map info"><br>
				<textarea form='form' id = "saveTexturesField" name = 'saveTexturesField'></textarea></p>
				<input type = "button" onclick="mapEditor_loadTextures()" value="Load textures"><br>
				<%= text_area_tag 'loadTexturesField', @map['grafics'] %>
				<br><br>
			</div>	
			<%= form_tag('/map/upload',method: :post, id: 'form') do -%>
				Map name: <%=text_field_tag "mapname", @map['name'] %>
				<input type = "hidden" name = "img" id = "img">
				<input type="button" value="Complete" onclick="mapEditor_completeAndSave()"><br>
				<input type="button" value="Save" onclick="mapEditor_sendToServer()">
			<%end%>
		</div>
		</td>
	</tr>
	</table>
</div>

<script type="text/javascript" language="JavaScript">
window.onload=mapEditor_init
window.onkeypress=mapEditor_handleKey 
window.onkeydown=mapEditor_handleKey
</script>
