
<%=@message%>
<%= content_tag :table, class:"table table-striped" do -%>
	<%= content_tag :tr do -%>
		<%map_columns.each do |m_m|%>
			<%= content_tag :th do -%>
				<%=m_m%>
			<%end%>
		<%end%>
		<%= content_tag :th do -%>
			<%=link_to '<i class="icon-file icon-large"></i>'.html_safe, tdef_map_edit_path, class: "btn btn-inverse btn-small btn-block" %>
		<%end%>
	<%end%>
	<% @maps.each do |m_m|%>
		<%= content_tag :tr do -%>
			<%= content_tag :td,width: "280px" do -%>
				<%=image_tag(""+m_m.icon.to_s, height: '128', width: '256')%>
			<%end%>
			<%= content_tag :td do -%>
				<%= m_m.name%>
			<%end%>
			<%= content_tag :td do -%>
				<% if m_m.completed then%>
					<span class="label label-success">
						<i class="icon-ok-sign icon-2x"></i>
					</span>
				<%else%>
					<span class="label label-warning">
						<i class="icon-remove-sign icon-2x"></i>
					</span>
				<%end%>
			<%end%>
			<%= content_tag :td do -%>
				<% if m_m.writed then%>
					<span class="label label-success">
						<i class="icon-ok-sign icon-2x"></i>
					</span>
				<%else%>
					<span class="label label-warning">
						<i class="icon-remove-sign icon-2x"></i>
					</span>
				<%end%>
			<%end%>
			<%= content_tag :td, width: "78px" do -%>
				<div class="btn-group btn-block" >
<!--					<% if !m_m.completed then%>
						<%=link_to '<i class="icon-ok"> </i>'.html_safe, tdef_map_upload_path+"?complete&id="+m_m.id.to_s, class: "btn btn-success" %>
					<%end%>
-->					<%=link_to '<i class="icon-pencil"> </i>'.html_safe, tdef_map_edit_path+"?id="+m_m.id.to_s, class:  "btn btn-inverse " %>
					<%=link_to '<i class="icon-remove"> </i>'.html_safe, tdef_map_delete_path(m_m.id), class:  "btn btn-danger "%>
				</div>
			<%end%>
		<%end%>
	<%end%>
<%end%>