<div id="messages_area"></div>
<%=simple_form_for Message.new, remote: true do |f|%>
	<%=f.input_field :user_id, as: :hidden,  value: current_user.id%>
	<%=f.input_field :msg_dest_type, as: :hidden,  value: @type%>
	<%=f.input_field :msg_dest_id, as: :hidden,  value: @id%>
	<%=f.input :data, label: "Message"%>
	<%=f.submit%>

<%end%>

<script>
var id=<%=@id%>
var type="<%=@type%>"
var timestamp=1;
</script>

<%= javascript_include_tag "messages", :cache => true %>