<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @forum.name %>
  <br>
  <strong>Description:</strong>
	<%= @forum.description %>
	<%= link_to 'Edit', edit_forum_path(@forum) %> |
	<%= link_to 'Back', forums_path %>

</p>
<h2><%= t("threads") %>
	<%= link_to t("forums.threads.add"), new_forum_thread_path(forum_id: @forum.id) %>
</h2>
<% @forum.threads.each do |thread| %>
	<%= @thread=thread; render "thread" %>
<% end %>
<h2><%= t("topics") %>
	<%= link_to t("forums.topics.add"), new_forum_topic_path(data: Base64.encode64("{\"id\":\"#{@forum.id}\",\"type\":\"#{@forum.class}\"}")) %>
</h2>
<% @forum.topics.each do |topic| %>
	<%= @topic=topic; render "topic" %>
<%  end %>