<%= javascript_include_tag "html_editor", :cache => true %>
<%= simple_form_for(@post_translation) do |f| %>
	<div class="form-actions">
		<%= f.button :submit %>
	</div>

	<div class="form-inputs">
		<%= f.input :post_id, as: :hidden %>
		<%= f.input :title %>
		<%= f.select :lang, @langs.map{|l| [l,l]}, selected: @post_translation.lang%>
		<%= f.input :description, input_html: { "data-uk-htmleditor"=>"{markdown:true, mode:'split', maxsplitsize:1000, lblPreview: '#{t(:mk_preview)}', lblCodeview: 'Markdown & Html'}" } %>
	</div>


<% end %>
