<h1>
	<%= link_to 'Back', posts_path %>
	<%for_admin do%>
		<%= link_to 'Add translation', new_post_translation_path(post_id: @post_translation.post.id) %>
		<%= link_to 'Edit', "#{url_for(@post_translation)}/edit" %>
		<%= link_to 'Destroy', @post_translation, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%end%>
</h1>
<%@post=@post_translation%>
<%= render 'post' %>