<%= form_for(@tdef_type_npc) do |f| %>
	<%@f=f %>
<% end %>
	<table>
		<tr>
			<td>
				<div class="uk-grid">
					<%= @f.fields_for :params do |params_form|%>
						<%params_not=npc_type_params.keys-@tdef_type_npc.params.keys%>
						<% ((@tdef_type_npc.params.keys-params_not)+params_not).each do |k|%>
							<div class="<%= grid_class(@tdef_type_npc.id) %>">
								<%=params_form.label k, t("tdef.types."+k)%>
								<%=params_form.send(npc_type_params[k], k, value: @tdef_type_npc.params[k], form:  @f.options[:html][:id], checked: @tdef_type_npc.params[k].to_i==1)%>
							</div>
						<%end%>
					<%end%>
				</div>
			</td>
			<% if (@tdef_type_npc.id) then%>
				<td width="30%" align="center">
					<canvas class="canvas canvas-middle canvas-large canvas-xlarge canvas-xxlarge" id='canvas'></canvas>
					<div id="image_size"></div>
					<%= render "image_load"%>
				</td>
				<td width="50%">
					<ul class="nav nav-pills">
						<%npc_type_textures.each_with_index do |t,i|%>
							<li <%="class=active" if i==0 %> id="li_<%=i%>">
								<%=link_to  t("tdef.types.tex."+t),"#", onclick: "switch_texture(this)",value:i, type:t%>
							</li>
						<%end%>
					</ul>
					<div align="center">
						<%=@f.fields_for :textures do |textures_form|%>
							<%npc_type_textures.each_with_index do |t,i|%>
								<div <%= "hidden" if i!=0%> id="div_<%=i%>">
									<%=textures_form.fields_for t do |form|%>
										<%npc_type_texture_params.each do |tp|%>
											<%= form.label tp, t("tdef.types.tex."+tp)%>
											<%= form.text_field tp, value: @tdef_type_npc.textures.attr(t,tp) , form:  @f.options[:html][:id]%>
										<%end%>
										<% if (@tdef_type_npc.textures[t]) then%>
											<%=form.hidden_field :img, value: @tdef_type_npc.textures[t].id,id: "img_#{i}", form:  @f.options[:html][:id]%>
											<script>
												Types.images[<%=i%>]=new Image;
												Types.images[<%=i%>].src="<%=@tdef_type_npc.textures[t].url%>"
											</script>
										<%end%>
									<%end%>
								</div>
							<%end%>							
						<%end%>
					</div>
				</td>
			<%end%>
		</tr>
	</table>

<div class="form-actions">
	<%= button_tag :submit, form: @f.options[:html][:id]%>
</div>

<script>
var form="<%=@f.options[:html][:id]%>"
</script>

<%= javascript_include_tag "types_npc", :cache => true %>
