<p>
	<div>
		<strong><%= t("types.id") %>:</strong> <%= @tdef_type_npc.id %>
		<% @tdef_type_npc.params.each do |k,p| %>
			<strong><%=t("types."+k) %>:</strong> <%= p %>
		<% end %>
	</div>
</p>

<%= link_to 'Edit', edit_tdef_type_npc_path(@tdef_type_npc) %> |
<%= link_to 'Back', tdef_type_npcs_path %>
