<%= javascript_include_tag "profile_edit", :cache => true %>

<%=image_loader(@user_profile)%>
<div id="image_div">
	<% if (@user_profile.image) then %>
		<%=image_tag(@user_profile.image.url)%>
		<script>
			var current_image_id=<%= @user_profile.image.id%>
		</script>
	<% end %>
</div>
<%= simple_form_for(@user_profile) do |f| %>
	<div id="old_images"></div>
	<div class="form-inputs">
		<%= f.simple_fields_for :properties do |field| %>
			<div>
				<%= field.label "NAME", t("user.profile.NAME")%>
				<%= field.text_field "NAME",  value:@user_profile.properties["NAME"]%>
			</div>
			<div>
				<%= field.label "NICK", t("user.profile.NICK")%>
				<%= field.text_field "NICK",  value:@user_profile.properties["NICK"]%>
			</div>
			<div>
				<%= field.label "SURNAME", t("user.profile.SURNAME")%>
				<%= field.text_field "SURNAME",  value:@user_profile.properties["SURNAME"]%>
			</div>
			<div>
				<%= field.label "BDAY", t("user.profile.BDAY")%>
				<%= field.text_field "BDAY",  value: @user_profile.properties["BDAY"], "data-uk-datepicker"=> "{format:'DD-MM-YYYY'}"%>
			</div>
		<% end %>
		<%= f.input :user_id, as: "hidden" %>			
	</div>

	<div class="form-actions">
		<%= f.button :submit %>
	</div>
<% end %>
