<p id="notice"><%= notice %></p>
<% if (@user_profile.image) then %>
	<p>
		<%= image_tag @user_profile.image.url %>
	</p>
<% end %>
<p>
	<% @user_profile.properties.each do |p,v| %>
		<div>
			<strong><%=t(p)%>:</strong>
			<%= v %>
		</div>
	<% end %>
</p>

<%for_admin do%>
	<p>
		<strong><%=t("profile.email")%>:</strong>
		<%= @user_profile.user.email %>
	</p>
<%end%>

<%= link_to "messages", messages(@user_profile.user) %>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
