<h1>
	<%for_admin do%>
		<%= link_to 'Add translation', new_post_translation_path(post_id: @post.id) %>
		<%= link_to 'Edit', "#{url_for(@post)}/edit" %>
		<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%end%>
</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				<div class="pull-left" style="height:20px;">
					<h3>
						<%= @post.title %>
						</h3>
				</div>
			</th>
		<tr>
	<thead>
	<tbody>
		<tr>
			<td>
				<%= markdown(@post.description) %>
				<div class="pull-right">
					created by <%= @post.user.name %> on <%=@post.creation_date%>
				</div>
			</td>
		</tr>
	</tbody>
</table>	
