<h1>News
<%for_admin do%>
	<%= link_to 'Add', new_post_path %>
<%end%>
</h1>
<% @posts.each do |post| %>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					<div class="pull-left" style="height:20px;">
						<h3>
							<%= link_to post.title,  post %>
						</h3>
					</div>
					<div class="pull-right">
						<%for_admin do%>
							<%= link_to 'Edit', edit_post_path(post) %>
							<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
						<%end%>
					</div>
				</th>
			<tr>
		<thead>
		<tbody>
			<tr>
				<td>
					<%= markdown(post.description[0..200]) %>
					<%if (post.description.size>=200) then%>
						<%= link_to t(:show_all),  post%>
					<%end%>
					<div class="pull-right">
						created by <%= post.user.name %> on <%=post.created_at%>
					</div>
				</td>
			</tr>
		</tbody>
	</table>	

<% end %>


