<style>
	.modal{
		width: 70%; 
		left: 15%;
		margin: 0px;
	}
</style>
<h1><%= t("news") %>
	<%for_admin do%>
		<%= link_to t("posts.add"), new_post_path %>
	<%end%>
</h1>
<%cache("#{Post.select(:updated_at).order(:updated_at).last.updated_at.to_i}_#{cache_lang}") do %>
	<% @posts.each do |post_| %>
		<%cache("#{post_.id}_#{post_.updated_at.to_i}_#{cache_lang}") do%>
			<%post=post_.translation_by_lang(@locale)%>
			<table class="table table-bordered table-striped post">
				<thead>
					<tr>
						<th>
							<div class="pull-left" style="height:20px;">
								<h3>
									<%= link_to post.title, post, remote: true%>
								</h3>
							</div>
							<div class="pull-right">
								<%for_admin do%>
									<%= link_to t("posts.add_translation"), new_post_translation_path(post_id: post_.id) %>
									<%= link_to t('posts.edit'), "#{url_for(post)}/edit" %>
									<%= link_to t('posts.destroy'), post, method: :delete, data: { confirm: 'Are you sure?' } %>
								<%end%>
							</div>
						</th>
					<tr>
				<thead>
				<tbody>
					<tr>
						<td>
							<div>
								<%= truncate_html(markdown(post.description),length: 200).html_safe %>
							</div>
							<%if (post.description.size>=200) then%>
								<%= link_to t(:show_all),  post, remote: true%>
							<%end%>
							<div class="pull-right">
								created by <%= post.user.name %> on <%=post.creation_date%>
							</div>
						</td>
					</tr>
				</tbody>
			</table>	
		<% end %>
	<% end %>
<% end %>

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          <div id="modal-rec-title"></div>
        </h4>
      </div>
      <div class="modal-body">
        <div id="modal-rec-body"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">
          <%= t(:Close) %>
        </button>
      </div>
    </div>
  </div>
</div>
