<%= form_for Image.new, url: upload_image_path, :html => { :multipart => true }, :remote => true do |f| %>
  <div class="field">
    <%= f.file_field :file %>
    <%if (@image_owner) then%>
	<% if (@image_owner.id) then %>
		<%= f.hidden_field :imageable_id, value: @image_owner.id%>
	<% end %>
	<%= f.hidden_field :imageable_type, value: @image_owner.class.name%>
    <% end %>
    <% #add width and height %>
  </div>
  <div class="actions">
    <%= f.submit t(:image_upload)%>
  </div>
<% end %>