<table class="table table-bordered table-striped post">
	<thead>
		<tr>
			<th>
				<div class="pull-left" style="height:20px;">
					<h3>
						<%= link_to @thread.name, @thread%>
					</h3>
				</div>
			</th>
			<th width="15%">
				
			</th>
			<th width="30%">
				<div class="pull-right">
					<%= link_to 'Show', @thread %>
					<%= link_to 'Edit', edit_forum_thread_path(@thread) %>
					<%= link_to 'Destroy', @thread, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			</th>
		<tr>
	<thead>
	<tbody>
		<tr>
			<td>
				<div>
					<%= @thread.description %>
				</div>
			</td>
			<td>
				<p>
					<%= t("forums.threads") %>: <%= @thread.topics.size%>
				</p>
				<p>
					<%= t("forums.messages") %>: <%= @thread.messages.size%>
				</p>
			</td>
			<td>
				<div>
					<% if (last_message=@thread.messages.last) %> 
						<%= last_message.data %> <%= t("from") %> 
						<%= last_message.user.name %> <%= t("on") %> 
						<%=last_message.updated_at%>
					<%else%>
						<%=t("forum.no_messages")%>
					<% end %>
				</div>
			</td>
		</tr>
	</tbody>
</table>	