<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @forum_thread.name %>

  <strong>Description:</strong>
  <%= @forum_thread.description %>
  <%= link_to 'Back', @forum_thread.forum %>
  <%= link_to 'Edit', edit_forum_thread_path(@forum_thread) %>
</p>

<h2><%= t("topics") %>
	<%= link_to t("forums.topics.add"), new_forum_topic_path(data: Base64.encode64("{\"id\":\"#{@forum_thread.id}\",\"type\":\"#{@forum_thread.class}\"}")) %>
</h2>
<% @forum_thread.topics.each do |topic| %>
	<%= @topic=topic; render "topic" %>
<% end %>