<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<br />
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<br />
	<div>
		<%= f.label :email %>
		<%= f.email_field :email, autofocus: true %>
	</div>

	<br />
	<div>	
		<%= f.label  :time_zone %>
		<%= f.select(:time_zone, ActiveSupport::TimeZone.all.sort.map{|t| [t.to_s, t.name]}, selected:  @time)%>
	</div>
	<br />
	<div>
		<%= f.label :password %>
		<%= f.password_field :password, autocomplete: "off" %>
	</div>
	<br />
	<div>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, autocomplete: "off" %>
	</div>
		<div>
			<%= recaptcha_tags %>
		</div>
	<div><%= f.submit "Sign up", class:"btn btn-inverse" %></div>
<% end %>

<%= render "users/shared/links" %>
